<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/home.css">
</head>
<body>
  <div class="navbar">
    <div class="left-nav">
      <div class="logo">ClickCart</div>
      <div class="search-container">
        <form class="search-form" id="searchForm">
          <input class="search-input" type="text" name="category" id="category" placeholder="Search category...">
          <button class="search-button" type="submit">
            <img src="/Images/search.png" alt="Search">
          </button>
        </form>
      </div>
  </div>
    <div>
      <a href="http://localhost:3000/">Home</a>
        <div class="dropdown">
          <button class="dropbtn">Category</button>
          <div class="dropdown-content">
            <a href="http://localhost:3000/shirts">Tshirts</a>
            <a href="http://localhost:3000/jeans">Jeans</a>
            <a href="http://localhost:3000/footwear">Footwear</a>
            <a href="http://localhost:3000/appliances">Electrical Appliances</a>
            <a href="http://localhost:3000/mobiles">Mobile</a>
            <a href="http://localhost:3000/book">Book</a>
            <a href="http://localhost:3000/cosmetics">Cosmetic</a>
            <a href="http://localhost:3000/sports">Sports Item</a>
            <a href="http://localhost:3000/furniture">Furniture</a>
            <a href="http://localhost:3000/kitchen">Kitchen</a>
          </div>
        </div>
      </a>
      <a href="http://">About Us</a>
      <a href="http://">Contact Us</a>
      <a class="shopping" href="http://"><img src="/Images/shopping-cart.png" alt="shopping-cart"></a>
    </div>
  </div>

  <div class="content">
    <div class="inner-content">
      <h5>Be undeniably good. No marketing effort or social media buzzword can be a substitute for that.</h5><br>
      <h6>Small order, huge happiness.</h6>
    </div>
  </div>

  <div class="category">
    <a href="http://localhost:3000/shirts">
      <div class="category-box">
        <img class="category-img" src="/Images/Tshirt.webp" alt="Tshirts">
        <div class="category-label">Tshirts</div>
      </div>
    </a>
    <a href="http://localhost:3000/jeans">
      <div class="category-box">
        <img class="category-img" src="/Images/jeans.jpeg" alt="Jeans">
        <div class="category-label">Jeans</div>
      </div>
    </a>
    <a href="http://localhost:3000/footwear">
      <div class="category-box">
        <img class="category-img" src="/Images/footwear.jpeg" alt="Footwear">
        <div class="category-label">Footwear</div>
      </div>
    </a>
    <a href="http://localhost:3000/appliances">
      <div class="category-box">
        <img class="category-img" src="/Images/electric appliances.webp" alt="Electrical Appliances">
        <div class="category-label">Electrical Appliances</div>
      </div>
    </a>
    <a href="http://localhost:3000/mobiles">
      <div class="category-box">
        <img class="category-img" src="/Images/mobile.webp" alt="Mobile">
        <div class="category-label">Mobile</div>
      </div>
    </a>
    <a href="http://localhost:3000/book">
      <div class="category-box">
        <img class="category-img" src="/Images/book.webp" alt="Tshirts">
        <div class="category-label">Books</div>
      </div>
    </a>
    <a href="http://localhost:3000/cosmetics">
      <div class="category-box">
        <img class="category-img" src="/Images/cosmetic.jpeg" alt="Jeans">
        <div class="category-label">Cosmetic</div>
      </div>
    </a>
    <a href="http://localhost:3000/sports">
      <div class="category-box">
        <img class="category-img" src="/Images/sport.webp" alt="Footwear">
        <div class="category-label">Sports Item</div>
      </div>
    </a>
    <a href="http://localhost:3000/furniture">
      <div class="category-box">
        <img class="category-img" src="/Images/furniture.webp" alt="Electrical Appliances">
        <div class="category-label">Furniture</div>
      </div>
    </a>
    <a href="http://localhost:3000/kitchen">
      <div class="category-box">
        <img class="category-img" src="/Images/kitchen.jpeg" alt="Mobile">
        <div class="category-label">Kitchen</div>
      </div>
    </a>
  </div>
 <script src="/JS/cart.js"></script>
</body>
</html>